#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width:500px;
    height:200px;
    background-color: lightgray;
    border:2px solid grey;
}

#wrapper-2nd {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    width:470px;
    height:170px;
    border:6px solid white;
}

#inside {
    display: flex;
    justify-content: center;
    align-items: center;
    width:440px;
    height:140px;
    border:1px solid black;
}

#inside-text {
    text-align: left;
    vertical-align:middle;
    width:430px;
    height:110px;
    border:5px solid white;
    padding:10px;
}